tenancy_ocid     = "ocid1.tenancy.oc1..EXAMPLE"
user_ocid        = "ocid1.user.oc1..EXAMPLE"
fingerprint      = "xx:xx:xx:xx:xx"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "sa-saopaulo-1"
compartment_ocid = "ocid1.compartment.oc1..EXAMPLE"
